Client/Connected Services/LoginServiceReference/Server.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Server.Interfaces" />
  <xs:complexType name="Delta">
    <xs:sequence>
      <xs:element minOccurs="0" name="NewValue" nillable="true" type="tns:Item" />
      <xs:element minOccurs="0" name="OldValue" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Delta" nillable="true" type="tns:Delta" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Datetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Finder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsFound" type="xs:boolean" />
      <xs:element minOccurs="0" name="Location" type="xs:int" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ItemOperationReturnValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatabaseValue" nillable="true" type="tns:Item" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Interfaces" minOccurs="0" name="Status" type="q1:Status" />
      <xs:element minOccurs="0" name="SubmittedValue" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemOperationReturnValue" nillable="true" type="tns:ItemOperationReturnValue" />
  <xs:complexType name="UserDelta">
    <xs:sequence>
      <xs:element minOccurs="0" name="NewValue" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="OldValue" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDelta" nillable="true" type="tns:UserDelta" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
</xs:schema>